@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/_mixins';

$enable-dark-mode: false;

@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/_utilities';
@import 'bootstrap/scss/_root';
@import 'bootstrap/scss/_reboot';
@import 'bootstrap/scss/_toasts';
@import 'bootstrap/scss/_buttons';
@import 'bootstrap/scss/utilities/_api';

$toast-header-background-color: rgba($white, 0.5);
$toast-color: $white;
$toast-header-color: #333;

@import 'bootstrap/scss/bootstrap';
